{
  "extends": "airbnb/base",
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "semi": ["error", "always"],
    "comma-dangle": ["error", "always-multiline"],
    "max-len": [2, {"code": 200}],
    "array-callback-return": "off"
  }
}
